.todoInfo{
    margin: 2em;
	width: 80%;
}
.todoBasicInfo{
    margin: 2em;

}
.todoList{
	font-family: '나눔고딕',NanumGothic,'돋움',Dotum,Helvetica,AppleSDGothicNeo-Medium,AppleGothic,sans-serif;
	width: 80%;
    margin-left: 10%;
	padding: 1em;
	border-radius: 1%;
    margin-top: 1em;
    margin-bottom: 1em;
    border:2px solid orange;
    background-color: antiquewhite;
}
.todoElement{
	padding: 10px;
	margin: 2px;
	border: 1px solid gray;
    border-radius: 10px;
    background-color: bisque;
    margin-bottom: 1em;
    margin-right: 1em;
    border:2px solid orange;
}