
.navigationBar{
	display: flex;
    margin-bottom: 1em;
    background-color: rgb(161, 177, 241);
    width: 100%;
    padding: 2em;
}

.nav_HomeBtn{
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 1.5em;
    padding-left: 1em;
	padding-right: 1em;
}

.nav_TDLBtn{
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 1.5em;
    padding-left: 1em;
	padding-right: 1em;
}

.nav_ActorBtn{
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 1.5em;
    padding-left: 1em;
	padding-right: 1em;
}
.nav_DirectorBtn{
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 1.5em;
    padding-left: 1em;
	padding-right: 1em;
}
.nav_GenreBtn{
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
	font-weight: bold;
    color: white;
    padding: 2em;
}